/*Global*/
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	font-family: Microsoft JhengHei UI Light ;
	line-height: 1.5;
}

a{
	text-decoration: none;
}

h1{
	font-weight: 500px;
	font-size: 56px;
}


/*Showcase*/

.showcase{
	position: relative;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0 20px;
}

.video{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('../img/Cover.jpg') no-repeat center center/cover;
}

.video video{
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.video:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
}

.content{
	z-index: 10;
	color: #D7B5DA ;
}

.content h4{
	margin-bottom: 15px;
	font-size: 20px;
}

.content a{
	color: #E2CFE4 ;
	font-size: 22px;
	border: solid #E2CFE4 1px;
	border-radius: 5px;
	padding: 6px;
}

.content a:hover{
	border:solid #BF95C2 2px;
	color: #BF95C2 ;
}


#about{
	position: relative;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #C8BAD6 ;
	background-color:#050110;
	bottom:0;
	right: 0;
}


#about p{
	width: 60%;
	font-size: 120%;	
}

#about h4{
	font-size: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
}

.social img:hover{
	width: 52px;
	height: 52px;
}

/*Footer*/
footer{
	text-align: center;
	color: #C8BAD6 ;
	background-color:#050110;
	padding-top: 10px;
	padding-bottom: 20px;
}

footer a{
	color: #E2CFE4 ;
}

footer a:hover{
	font-weight: bold;
}

footer p{
	display: inline;
}


/*Media quaries*/

@media(max-height: 359px){
	.content h1{
		font-weight: 400px;
		font-size: 42px;
	}

	.content h4{
		font-size: 14px;
	}

	#about p{
		font-size: 14px;
	}

	#about h1{
		font-weight: 300px;
		font-size: 38px;
	}

	#about h4{
		font-size: 18px;
	}

	#about img{
		width: 36px;
		height: 36px;
	}
}


@media(max-height: 270px){
	.content h1{
		font-weight: 350px;
		font-size: 32px;
	}

	.content h4{
		font-size: 12px;
	}

	.content a{
		font-size: 14px;
	}

	#about p{
		font-size: 11px;
	}

	#about h1{
		font-weight: 300px;
		font-size: 30px;
	}

	#about h4{
		font-size: 12px;
	}

	#about img{
		width: 24px;
		height: 24px;
	}
}



@media(min-width: 768px){
	h1{
	font-weight:600;
	font-size: 60px;
	line-height: 1.2;
	margin-bottom: 15px;
	}

	.content h4{
	margin-bottom: 15px;
	}

	.content a{
	color: #E2CFE4 ;
	font-size: 20px;
	border: solid #E2CFE4 1px;
	border-radius: 5px;
	padding: 6px;
	}
}

